.main-overflow {
  overflow-y: scroll;
}

.teams-container {
    display: flex; 
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #DDDDDD;
    margin: 2rem;
    width: auto;
    height: auto;
    border-radius: 30px;
  }


  

/*  
.teams-top-container {
    width: auto;
    margin-bottom: 1rem;
  }
*/
  


  .teams-top-members{
    display: flex;
    justify-content: center;
    padding-top: 2vh;

  
  }

  .teams-bottom-members{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
  }

  .teams-top-members,
.teams-bottom-members {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

  .teams-member {
    margin : 1.2vh 1.5vw;
    width: 12.5rem;
    min-width: 12.5rem;
    height: 14.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 1s;
    border-radius: 15px;
    box-shadow: -4px 0 4px rgba(0, 0, 0, 0.2), 4px 0 4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #1A237E 80%, transparent 80%);
}


  .description {
    background-color: #fff;
    width: 12.5rem;
    min-width: 12.5rem;
    height: 14rem;
    border-radius: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;    
    padding:0;
    transition: all 1s;  
}
    


  .teams-member img {
    box-shadow: -4px 0 4px rgba(0, 0, 0, 0.2), 4px 0 4px rgba(0, 0, 0, 0.2); /* 양쪽으로 그림자 추가 */
    margin-top: 1rem;
    position: absolute;
    border-radius: 50%;
    width : 7rem;
    height : 8.5rem;

  }

  .teams-member .background {
    width: 100%;
    background-color: #FF0000; /* 원하는 색상을 지정하세요 */
    border-radius: 15px;
  }
  
.description h1
{
    color: #1A237E;
    font-size: 1.3rem;
    margin-bottom: 0.0rem;
    font-family: 'TheJamsilLight';
}

.description h2
{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #424242;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0.5rem;
    font-family: 'TheJamsilLight';
}

