.main-container{
  background-color: transparent;
  height: 100%;
  width: 100%;
}

.top-container {
  display: flex; 
  width : auto;
}


.bottom-container {
  display: flex; 
  width : auto;
  
  
}

.chart {
  padding: 0rem 1rem;
  width: 38.5rem;
  height: 19rem;
}
  .chart-1 {
    padding-top: 1rem;
  }
.container-2 {
  padding: 1rem 1rem;
  /* width:50%; */
}

.container-2 .title{
  text-align: center;
  /* background-color: beige; */
  height: 12px;
  font-size: 18px;
  padding: 20px 0px 0px 30px;
}
.fake-rect {
  height:274px;
  width: 616px;
  background-color: white;
}

.intro-con2-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.intro-con2-name{
  letter-spacing: 0.1rem;
}
.title{
  font-family: 'TheJamsil';
  text-align: center;
}