.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 1rem;
  max-width: 550px;
}

.chart {
  border-radius: 30px;
  border: 1px solid #DDDDDD;
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 270px;
}

.main-container{
  background-color: transparent;
  height: 100%;
  width: 100%;
}

.top-container {
  display: flex; 
  width : auto;
}


.bottom-container {
  display: flex; 
  width : auto;
}

.title{
  text-align: center;
  font-size: 17px;
  margin-top: 0.3rem;
}

.fake-rect {
  max-height: 270px;
  max-width: 550px;
  background-color: white;
}

.intro-con2-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.intro-con2-name{
  letter-spacing: 0.1rem;
}
.title{
  font-family: 'TheJamsil';
  text-align: center;
}