.voc-container .background {
    position: relative;
    width: 1307px;
    height: 665px;
    left: 14.06rem;
    top: 5.31rem;
    background: #F8F8F8;
    border: 1px solid #DDDDDD;
    .container {
        position: relative;
        width: 1230px;
        height: 600px;
        top: 1.9rem;
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        border-radius: 15px;

        .voc-text-1 {
            position: relative;
            left: 2.3rem;
            top: 1.4rem;
            font-family: 'Inter';
            font-weight: 700;
            font-size: 25px;
        }
        
        .voc-text-2 {
            position: relative;
            left: -4.7rem;
            top: 3.5rem;
            font-family: 'Inter';
            font-weight: 400;
            font-size: 15px;
        }

        .board {
            position: relative; 
            margin-top: 5.3rem; 
        } 
        
        
        .send-button {
            position: relative;
            z-index: 1;
            top: 4rem;
            left: 41.79rem;
            width: 155px;
            height: 45px;
            cursor: pointer;
            background-color: #272626;
            color: white;
            font-size: 16px;
            font-weight: bold;
            border-radius: 5px;
        }
        .send-button:hover { 
            background-color: #34495e;
            transform: scale(1.05);
            transition: background-color 0.3s ease, transform 0.3s ease;
        }
          
          
        .send-button:active { 
            transform: scale(0.95);
            transition: transform 0.3s ease;
        }

        .left-align {
            text-align: left;
          }
        
        .checkbox-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 0;
            padding: 0;
          }
          
        .checkbox-container input {
            display: inline-block;
            vertical-align: middle;
          }
          
    }   
}
