/*.background {
    position: fixed;
    width : 170vh;
    height :150vh;
    margin-left: 15rem;
    margin-top : 1rem;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
}
*/

.voc-background {
    width: 100%;
    height: 100%;
    background: #F8F8F8;
    padding-top: 3vh; 
  }
  
  .voc-container {
    display: flex; 
    padding-left: 5vh;
    border: 1px solid blue;
    margin-left: 17rem;
    width: 161vh;
    height: 79vh;
  }
  
  .voc-top-container {
    margin-top: 3vh;
    width: 200vh;
    height: 10vh;

  }
  
  .voc-text-1 {
    position: relative;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 3.5vh;
  }
  
  .voc-text-2 {
    display: flex; 
    margin-top: 3vh;
    justify-content: space-between; /* 중요 */
  }

  .send-button {
    position:relative;
    cursor: pointer;
    background-color: #272626;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 4.5vh;
    height : 4vh;
}

.send-button:hover { 
    background-color: #34495e;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
  
  
.send-button:active { 
    transform: scale(0.95);
    transition: transform 0.3s ease;
}
  
  .voc-mid-container {
    position: fixed;
    margin-top: 18vh;
    width : 160vh;
    height :200vh;
  }
  
  .voc-bottom-container {
    position: relative;
    display: flex;
    margin-top: 2%;
    margin-left: 60vh;
  }
  
  


/*
    .container {
        top: 1.9rem;
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        border-radius: 15px;

        .voc-text-1 {
            position: relative;
            left: 2.3rem;
            top: 1.4rem;
            font-family: 'Inter';
            font-weight: 700;
            font-size: 25px;
        }
        
        .voc-text-2 {
            position: relative;
            left: -4.7rem;
            top: 3.5rem;
            font-family: 'Inter';
            font-weight: 400;
            font-size: 15px;
        }

        .board {
            position: relative; 
            margin-top: 5.3rem; 
        } 
        
        
        .send-button {
            position: relative;
            z-index: 1;
            top: 4rem;
            left: 41.79rem;
            width: 155px;
            height: 45px;
            cursor: pointer;
            background-color: #272626;
            color: white;
            font-size: 16px;
            font-weight: bold;
            border-radius: 5px;
        }
        .send-button:hover { 
            background-color: #34495e;
            transform: scale(1.05);
            transition: background-color 0.3s ease, transform 0.3s ease;
        }
          
          
        .send-button:active { 
            transform: scale(0.95);
            transition: transform 0.3s ease;
        }

        .left-align {
            text-align: left;
          }
        
        .voc-checkbox-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 0;
            padding: 0;
          }
          
        .voc-checkbox-container input {
            display: inline-block;
            vertical-align: middle;
          }
          
    }   
}
*/