.voc-container {
  display: flex; 
  flex-direction: column;
  padding: 2rem;
  background: #ffffff;
  border: 1px solid #DDDDDD;
  margin: 2rem;
  width: auto;
  height: auto;
  border-radius: 30px;
}

.voc-top-container {
  width: auto;
  margin-bottom: 2rem;
}

.voc-text-1 {
  position: relative;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 3.5vh;
}

.voc-text-2 {
  display: flex; 
  margin-top: 3vh;
  justify-content: space-between; /* 중요 */
}
.button-container {
  display: flex;
  justify-content: flex-end;
}
.voc-create-btn {
  position:relative;
  cursor: pointer;
  background-color: #272626;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  height : 4vh;
  font-family: 'TheJamsil';
  margin-left: 1rem;
}

.voc-create-btn:hover { 
  background-color: #34495e;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.voc-create-btn:active { 
  transform: scale(0.95);
  transition: transform 0.3s ease;
}

.send-button {
  position:relative;
  cursor: pointer;
  background-color: #272626;
  color: white;
  font-size: 16px;
  height : 4vh;
  border-radius: 5px;
  font-family: 'TheJamsil';
}

.send-button:hover { 
  background-color: #34495e;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}


.send-button:active { 
  transform: scale(0.95);
  transition: transform 0.3s ease;
}

.voc-mid-container {
  width : auto;
  height :auto;
}

.voc-bottom-container {
  justify-content: center;
  position: relative;
  display: flex;
}