.worker-container .background {
    position: relative;
    width: 1307px;
    height: 665px;
    left: 14.06rem;
    top: 5.31rem;
    background: #F8F8F8;
    border: 1px solid #DDDDDD;
    .container {
        position: relative;
        width: 1230px;
        height: 600px;
        top: 1.9rem;
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        border-radius: 15px;

        .worker-text-1 {
            position: absolute;
            left: 2.1rem;
            top: 1.56rem;
            font-family: 'Inter';
            font-weight: 700;
            font-size: 25px;
        }
        
        .worker-text-2 {
            position: relative;
            left: 2.2rem;
            top: 4.37rem;
            font-family: 'Inter';
            font-weight: 400;
            font-size: 15px;
        }

        .worker {
            position: relative; 
            margin-top: 6.8rem; 
        } 
        
        .left-align {
            text-align: left;
          }
    }
}