.article-container .background {
    position: absolute;
    width: 1307px;
    height: 100%;
    left: 225px;
    top: 85px;
    background: #F8F8F8;
    border: 1px solid #DDDDDD;
    .container {
        position: absolute;
        width: 1230px;
        height: 600px;
        left: 39px;
        top: 30px;
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        border-radius: 15px;

        .article-text-1 {
            position: absolute;
            width: 100px;
            height: 30px;
            left: 26px;
            top: 25px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 30px;
            text-align: center;
            color: #000000;
        }
        
        .article-text-2 {
            position: absolute;
            width: 305px;
            height: 18px;
            left: 30px;
            top: 70px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            text-align: center;

            color: #000000;

        }
        .add-article-btn{
          position: absolute;
          z-index: 2;
          top: 60px;
          left: 1130px;
          width: 65px;
          height: 45px;
          cursor: pointer;
          background-color: #272626;
          color: white;
          font-size: 16px;
          font-weight: bold;
          border-radius: 5px;
          

        }

        .article {
            position: relative; 
            margin-top: 130px;
        }

        .left-align {
            text-align: left;
          }
    }
}