.article-container {
    display: flex; 
    flex-direction: column;
    padding: 2rem;
    background: #ffffff;
    border: 1px solid #DDDDDD;
    margin: 2rem;
    width: auto;
    height: auto;
    border-radius: 30px;
  }
  
  .article-top-container {
    width: auto;
    margin-bottom: 2rem;
  }
  
  .article-text-1 {
    position: relative;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 3.5vh;
  }
  
  .article-text-2 {
    display: flex; 
    margin-top: 3vh;
    justify-content: space-between; /* 중요 */
  }
  
  .article-create-btn {
    position:relative;
    cursor: pointer;
    background-color: #272626;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    height : 2.2rem;
    width : 5rem;
  }
  
  .article-create-btn:hover { 
    background-color: #34495e;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  
  .article-create-btn:active { 
    transform: scale(0.95);
    transition: transform 0.3s ease;
  }
  
  .article-mid-container{
    width : auto;
    height :auto;
  }
  
  .article-bottom-container {
    justify-content: center;
    position: relative;
    display: flex;
  }
  
  .article-title-col {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 1.5rem 0;
  }