.create-article-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
  }
  
  .create-article-container form {
    display: flex;
    flex-direction: column;
  }
  
  .create-article-container input[type="text"],
  .create-article-container textarea,
  .create-article-container select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    resize: none;
  }

  .create-article-container input[type="text"]:focus {
    outline: 1.9px solid #000;
  }
  
  .create-article-container textarea {
    height: 300px;
  }
  
  .create-article-container p {
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .create-article-container select {
    appearance: none;
    background-color: #fff;
  }
  
  .create-button {
    padding: 10px 20px;
    background-color: #272626;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 20%;
    height: 50%;
  }
