.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 1;
  }
  
  .modal.open {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 40px;
    width: 40%;
    height: 75%;
    overflow: scroll;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 19.5px;
    right: 14.5px;
    cursor: pointer;
    font-size: 18px;  
    border: none;
    background-color: #fff;
  }

  .close-button img {
    width: 20px;
    height: 20px;
  }
  
  .modal-content::-webkit-scrollbar {
    width: 15px;
    border-radius: 20px;
    display: none;
  }
  
  .modal-content::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 20px;
  }
  
  .modal-content::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }
  
  .modal-content button {
    text-align: center;
    display: block;
  }
  
  .modal-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }