
.secure-container tr{
    text-align: left;
    overflow-y: scroll;
    overflow-x:hidden;
}
.secure-container tbody{
    color:black;
    font-weight: bold;
}
.secure-container h2{
    color:rgb(4, 5, 76);
    font-weight: bold;
    text-align: center;
}