tr{
    text-align: left;
    overflow-y: scroll;
    overflow-x:hidden;
}
tbody{
    color:black;
    font-weight: bold;
}
h2{
    color:rgb(4, 5, 76);
    font-weight: bold;
    text-align: center;
}