@media (max-width: 1000px) {
  .bg-img {
    display: none;
  }
  .container {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .context {
    position: static;
  }
}

.container{
  position: relative;
  height: 100%;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

.logo-img {
  width: 250px;
  height: 250px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}