@media (max-width: 1000px) {
  .bg-img {
    display: none;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .context {
    position: static !important;
  }
}

.container{
  position: relative;
  height: 100%;
  margin: auto;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}