@media (max-width: 1000px) {
    .bg-img {
      display: none;
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .context {
      position: static !important;
    }
    .signup-title {
      padding: 0 !important;
    }

    .signup-input {
      margin-top: 0.5rem !important;
    }

    .a-input-group {
      margin-bottom: 0.8rem !important;
    }
}

@media (max-width: 400px) {
  .signup-title, .radio-buttons, .signup-button, .signup-close-button-wrapper {
    width: 20rem !important;
  }
  .signup-input {
    width: 18rem !important;
  }
  
  .signup-close-button img {
    width: 15px !important;
    height: 15px !important;
  }
}
  
.container{
    position: relative;
    height: 100%;
    margin: auto;  
}

.context {
    width: 50%;
    height: 80%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 5%;
    left: 50%;
    padding: 1rem;
  }


.bg-img {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}



.signup-title {
    display: flex;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
    width: 24rem;
}

.radio-buttons {
    display: flex;
    margin: 0.5rem;
    width: 24rem;
}

.user-type-button {
    background-color: #ccc;
    color: #fff;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    width : 12rem;
    height : 1.7rem;
}
  
.selected {
    background-color: #333;
}


.a-input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
  
.a-input-group-label {
    align-self: flex-start;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

.signup-input {
    font-size: 1rem;
    width: 22rem;
    height: 1.7rem;
    padding: 0 1rem;
    border: 0.1rem solid #B7B7B7;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
}

.signup-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272626;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
    width: 24rem;
    height: 2rem;
}

.signup-button:hover {
    background-color: #34495e;
    transform: scale(1.02);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.signup-button:active {
    transform: scale(0.98);
    transition: transform 0.2s ease;
}

  
.input-wrapper .text-input {
    top : 80px;
    border-radius: 0px;
    height: 45px;
    position: relative;
    width: 520px;
    font-family: "Segoe UI-Regular", Helvetica;
    font-size: 17px;
    padding: 0 20px;
    border: 2px solid #B7B7B7;
  }
  
.field-error-message, .error-alert {
    color: red;
    font-size: 1rem;
    width: 15rem;
}
.checkbox-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 24rem;
    align-items: center;
    justify-content: center;
}

.checkbox-container label {
    text-decoration: underline;
    color: #0028b9cf;
    font-weight: bold; 
  }


.error-group {
    display: flex;
    height: 2rem;
  }

  .error-alert {
    text-align: center;
  }

  .signup-button-div {
    display: flex;
    height: 2rem;
  }

  .signup-close-button-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 24rem;
  }

  .signup-close-button {
    cursor: pointer;
    border: none;
    background-color: #fff;
  }

  .signup-close-button img {
    width: 20px;
    height: 20px;
  }