.signup {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
}
.signup .overlap-wrapper {
    background-color: #ffffff;
    border: 1px none;
    height: 800px;
    width: 1420px;
}
.signup-button {
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272626;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 565px;
    height: 65px;
    left: 805px;
    top: 732px;
}
.signup-button:hover {
    background-color: #34495e;
    transform: scale(1.02);
    transition: background-color 0.2s ease, transform 0.2s ease;
}
.signup-button:active {
    transform: scale(0.98);
    transition: transform 0.2s ease;
}
.signup .overlap {
    height: 800px;
    position: relative;
    width: 1376px;
}
.signup .overlap-group {
    height: 800px;
    left: 0;
    position: absolute;
    top: 0px;
    width: 1311px;
}
.signup .overlap-group-wrapper-1 {
    height: 45px;
    left: 813px;
    position: absolute;
    top: 340px;
}
.signup .overlap-group-wrapper-2 {
    height: 50px;
    left: 813px;
    position: absolute;
    top: 450px;
}
.signup .overlap-group-wrapper-3 {
    height: 50px;
    left: 813px;
    position: absolute;
    top: 580px;
}
.signup .group {
    height: 50px;
    left: 815px;
    position: absolute;
    top: 190px;
    width: 496px;
}
.signup .group-2 {
    height: 60px;
    left: 813px;
    position: absolute;
    top: 700px;
    width: 498px;
}
.signup .div-wrapper input, .signup .div input {
    top : -0px;
    border-radius: 0px;
    height: 45px;
    position: relative;
    width: 520px;
    font-family: "Segoe UI-Regular", Helvetica;
    font-size: 17px;
    padding: 0 20px;
    border: 2px solid #B7B7B7;
}
.signup .div-wrapper input::placeholder, .signup .div input::placeholder {
    color: #9b9b9b;
}
.signup .div-1 input {
    border-radius: 0px;
    height: 45px;
    position: relative;
    width: 520px;
    font-family: "Segoe UI-Regular", Helvetica;
    font-size: 17px;
    padding: 0 20px;
    border: 2px solid #B7B7B7;
    top : -20px;
}


  
.signup .img {
    height: 800px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 824px;
}
.signup .signup_title {
    font-family: "Segoe UI-Semibold", Helvetica;
    left: 815px;
    position: absolute;
    top: 15px;
    font-size: 40px;
    font-weight: 800;
}
.signup .signup-text-0 {
    font-family: "Segoe UI-Semibold", Helvetica;
    left: 815px;
    position: absolute;
    top: 130px;
    font-size: 20px;
    font-weight: 600;
}
.signup .signup-text-1 {
    font-family: "Segoe UI-Semibold", Helvetica;
    left: 815px;
    position: absolute;
    top: 230px;
    font-size: 20px;
    font-weight: 600;
}
.signup .signup-text-2 {
    font-family: "Segoe UI-Semibold", Helvetica;
    left: 815px;
    position: absolute;
    top: 340px;
    font-size: 20px;
    font-weight: 600;
}
.signup .signup-text-3 {
    font-family: "Segoe UI-Semibold", Helvetica;
    left: 815px;
    position: absolute;
    top: 450px;
    font-size: 20px;
    font-weight: 600;
}
.signup .signup-text-4 {
    font-family: "Segoe UI-Semibold", Helvetica;
    left: 815px;
    position: absolute;
    top: 560px;
    font-size: 20px;
    font-weight: 600;
}


.signup-user-type {
    position: relative;
    top: 150px;
    left: 815px;
  }
  
  .user-type-button {
    background-color: #ccc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width : 280px;
    height : 50px;
  }
  
  .selected {
    background-color: #333;
  }

  
.signup .div-wrapper input,
.signup .div input,
.signup .div-1 input {

  margin-top: 40px;
}

.input-wrapper {
    position: relative;

    .field-error-message {
        position: absolute;
        left: 75px; 
        top: 45px; 
        color: red;
        font-size: 15px;
        width: 150px;
    }
  }
  
  .input-wrapper .text-input {
    top : 80px;
    border-radius: 0px;
    height: 45px;
    position: relative;
    width: 520px;
    font-family: "Segoe UI-Regular", Helvetica;
    font-size: 17px;
    padding: 0 20px;
    border: 2px solid #B7B7B7;
  }
  
  .overlap-group-wrapper-1 .field-error-message {
    position: absolute;
    left: 99px; 
    top: 5px; 
    color: red;
    font-size: 15px;
    width: 150px;
    }

  .overlap-group-wrapper-2 {
    .field-error-message {
        position: absolute;
        left: 145px; 
        top: 5px; 
        color: red;
        font-size: 15px;
        width: 150px;
        }
    .password-error-message {
        position: absolute;
        left: 145px; 
        top: 5px; 
        color: red;
        font-size: 15px;
        width: 230px;
        }
    }
    .overlap-group-wrapper-3 .field-error-message {
        position: absolute;
        left: 58px; 
        top: -16px; 
        color: red;
        font-size: 15px;
        width: 150px;
    }
    
    .signup .error-alert {
        position: absolute;
        top: 235px; 
        left: 1020px;
        transform: translateX(-50%); 
        color: red;
        font-size: 15px;
        width: 250px;
    }
