.common-table {
  width: auto;
  text-align: center;
  border-spacing: 0;
  table-layout: fixed;
}

.common-table-header-column {
  position: sticky;
  background-color: #FFFFFF;
  border-top: 2.5px solid #000000;
  border-bottom: 1px solid #CCCCCC;
  font-size: 16px;
  padding: 15px 5px;
  text-align: center;
  font-weight: bold;
}

.common-table-column {
  border-bottom: 1px solid #CCCCCC;
  text-align: center;
  padding: 10px 5px;
}

.common-table-row:hover {
  background-color: #ECEAEA;
  cursor: pointer;
}

.fixed-column {
  position: sticky;
  background-color: #FFFFFF;
}

.fixed-column .common-table-header-column,
.fixed-column .common-table-column {
  position: relative;
  white-space: nowrap;
}

.fixed-column .common-table-header-column:first-child,
.fixed-column .common-table-column:first-child {
  border-left: 1px solid #CCCCCC;
}
