.footer {
	position: absolute;
	width: 1307px;
	bottom: -23px;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
  text-align: center;
  height:10000px;
  top:635px
  }
  
  .footer-text {
    color: #000000;
    font-size: 14px;
    text-align: center;
  
  }
  .content-secure{
    margin-right: 15px;
  }
  .content-secure2{
    margin-right: 30px;
  }
