.footer {
  padding-top: 9px;
	position: absolute;
  width: 1307px;
  height:100%;

  top:41.6rem;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
  text-align: center;

  }
  
  .footer-text {
    color: #000000;
    font-size: 14px;
    font-weight: bolder;
  }

  .content-secure{
    color: #225094;
    margin-right: 1%;
    text-align:left;
    text-decoration-line: none;
  }
  .content-secure2{
    color: #225094;
    margin-right: 60%;
    text-align:left;
    text-decoration-line: none;
  }
  .copyright{
    text-align:right;
  }
