.Header {
	display: flex;
	flex-direction: row;
	align-items: center; /* 세로 중앙 정렬 */
	position: relative;
	width: auto;
	height: 4.5rem;
	background: #FFFFFF;
	border-bottom: 1px solid #DDDDDD;
	transition: margin-left 0.3s ease; /* 전환 효과를 위한 transition 속성 */
	padding: 0 2rem;
	justify-content: space-between;
	/* z-index: 1; */
  }


.header-logo {
	display: flex;
    align-items: center;
}

.logo-img {
	width : 70px;
	height : 70px;
}
  
.header-title {
	padding: 1rem;
	font-family: 'TheJamsil';
	font-style: normal;
	font-size: 17px;
	line-height: 20px;
	text-align: center;
	color: #000000;
}


.logout-button{
	font-family: 'TheJamsil';
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	color: #000000;
	background-color: white;
	border-color: transparent;


  }

.logout-button:hover {
	color:#F1B7B7;
} 

