.Header {
	position: absolute;
	width: 1202px;
	height: 84px;
	left: 222px;
	top: 0px;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	.header-title {
		position: absolute;
		width: 260px;
		height: 20px;
		left: 157px;
		top: 32px;
		font-family: 'NanumGothic';
		font-style: normal;
		font-weight: 900;
		font-size: 21px;
		line-height: 20px;
		text-align: center;
		color: #000000;
	}
	.header-logout {
		position: absolute;
		width: 72px;
		height: 18px;
		left: 1093px;
		top: 33px;
		font-family: 'NanumGothic';
		font-style: normal;
		font-weight: 900;
		font-size: 18px;
		line-height: 18px;
		text-align: center;
		color: #000000;
	}
	.header-img {
		position: absolute;
		width: 78px;
		height: 40px;
		left: 65px;
		top: 22px;
	}
}
