.Sidebar-container-1 {
    position: absolute;
    width: 223px;
    height: 84px;
    left: 0px;
    top: -1px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
}

.back-img {
	position: absolute;
	left: 35px;
	top: 30px;
}

.home-img {
	position: absolute;
	width: 24.6px;
	height: 24.53px;
}

.task-img {
	position: absolute;
	left: 400px;
	top: 233px;
}

.text-1 {
	position: absolute;
	width: 21px;
	height: 22px;
	left: 47px;
	top: 2px;
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 500;
	font-size: 23px;
	line-height: 22px;
	color: #000000;
}

.text-2 {
	position: absolute;
	width: 51px;
	height: 25px;
	left: 82px;
	top: 230px;
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 25px;
	color: #000000;
}

.text-3 {
	position: absolute;
	width: 90px;
	height: 20px;
	left: 88px;
	top: 287px;
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	font-family: 'NanumGothic';
}

.text-3 {
	color: #000000; 
}
  
.text-3:hover {
	color: #F1B7B7;
}

.text-4 {
	position: absolute;
	width: 150px;
	height: 20px;
	left: 85px;
	top: 330px;
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
}

.text-4 {
	color: #000000; 
}
  
.text-4:hover {
	color: #F1B7B7;
}

.Sidebar-home {
	position: absolute;
	width: 94px;
	height: 39px;
	left: 35px;
	top: 139px;
}

.Sidebar-home:hover .text-1 {
	color: #F1B7B7;
}

.Sidebar-article {
	position: absolute;
	width: 155px;
	height: 43px;
	left: 35px;
	top: 414px;
	
	.Text-5 {
		position: absolute;
		font-family: 'NanumGothic';
		width: 100px;
		height: 25px;
		left: 51px;
		top: -4px;
		font-size:24px;
		font-weight: 500;
		color: #000000; 
	}

	.article-img {
		position: absolute;
		top  : -4px;
	}
}

.Sidebar-article:hover .Text-5 {
	color: #F1B7B7;
}

.Sidebar a.active .text-1,
.Sidebar a.active .text-3,
.Sidebar a.active .text-4,
.Sidebar a.active .Text-5 {
    color: #F1B7B7;
}





	
.Sidebar{  /* 전체 사이드바 */
	position : fixed;
	width: 14rem;
	height: 100%;
	left: 0px;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	transition : all .35s;
	z-index: 1;
}
	
	.Sidebar header { /* 사이드바 헤더 */
		line-height : 4.5rem;
		border-bottom: 1px solid #DDDDDD;
		user-select: none;
        text-align: left;
        padding-left : 40px;
	}    

	
    .Sidebar button {
        border : none;
        background-color: white;
        cursor: pointer;
    }
	
	
    .Sidebar img {
        width : 18px;
        height: 18px;
    }

	.Sidebar ul a{  /* 사이드바 Item 각 줄 */
		display : block;
		height : 100%;
		width : 100%;
		font-family: 'RIDIBatang';
		line-height : 65px;
		font-size : 24px;
		color: black;
		box-sizing : border-box;
		border-top :25px solid rgba(255,255,255,.1);
		border-bottom : 1px solid white;
		transition : 0.3s;
	}
	
	.sidebar-ul li:hover a { /* 사이드바 글을 눌렀을때 40px 이동 */
		padding-left : 10px;
		color: #F1B7B7;
	}
	
	.Sidebar ul a i  {  /* 사이드바 글을 안누르면 16px 이동 */
		margin-right : 16px;
		
	}
	
	.Sidebar ul img{  /* images 20px씩 부여 */
		width : 24px;
		height : 24px;
	}
	

	
	
	.Sidebar .sub-menu{
		display :none;
	}
	
	.Sidebar .sub-item{
		margin-top : -25px;
		
	}
	
	.Sidebar .sub-menu.active {
		display : contents;
		
	}
	
	
	  
	
	  .Sidebar ul .sub-menu span{
		margin-left :50px;
		font-size: 18px;
		
		
	}
	
	
	.Sidebar ul .sub-menu{
		margin-left : 20px;
		
	}
	

.Sidebar.collapsed {  /*/ 사이드바 조절*/
	width: 6rem;
	font-display: none;
}
	
    .Sidebar.collapsed ul li span {
        display: none;
    }
	

    .Sidebar .menubars {
        border : 0px;
    }

	
